<div class="modal fade" id="edit-round-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editRoundModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="update-round-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="editRoundModalLabel">Update round</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="index-edit" class="form-label">Index</label>
                    <input type="number" min="1" max="10" class="form-control" id="index-edit">
                </div>
                <div class="mb-3">
                    <label for="name-edit" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-edit">
                </div>
                <div class="mb-3">
                    <label for="bet-point-edit" class="form-label">Bet Point</label>
                    <input type="number" min="1" max="1000" class="form-control" id="bet-point-edit">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitUpdateRound()">Update</button>
            </div>
        </div>
    </div>
</div>