@{
    ViewData["Title"] = "Round Page";
}

<div>
    <h1>Rounds List</h1>
    <div class="row mb-3 mt-5">
        <div class="col-auto text-right">
            <button type="button" class="btn btn-success" onclick="showCreateModal()">
                <i class="bi bi-plus-lg"></i> Create New Round
            </button>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">BetPoint</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="round-table-data">
                <tr>
                    <td colspan="5" class="text-center">No data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create -->
<partial name="_ModalCreate" />

<!-- Modal Edit -->
<partial name="_ModalUpdate" />

<!-- Modal Delete -->
<partial name="_ModalDelete" />

@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/js/round.js" asp-append-version="true"></script>
}
