<div class="modal fade" id="edit-team-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="update-team-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="editTeamModalLabel">Update team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" class="form-control" onchange="showSelectedImage(this, '-edit')" id="image-edit">
                </div>
                <div id="selected-image-div-edit">
                    <div>
                        <img id="selected-image-edit" style="max-width: 200px; max-height: 200px;" />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="name-edit" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-edit">
                </div>
                <div class="mb-3">
                    <label for="group-id-edit" class="form-label">Group</label>
                    <select class="form-select" aria-label="selectGroup" id="group-id-edit">
                        <option value="" selected>Select Group</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitUpdateTeam()">Update</button>
            </div>
        </div>
    </div>
</div>