@{
    ViewData["Title"] = "Team Page";
}

<div>
    <h1>Teams List</h1>
    <div class="row mb-3 mt-5">
        <div class="col-auto text-right">
            <button type="button" class="btn btn-success" onclick="showCreateModal()">
                <i class="bi bi-plus-lg"></i> Create New Team
            </button>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th scope="col" class="text-center" width="20%">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Group</th>
                    <th scope="col" class="text-center" width="20%">Action</th>
                </tr>
            </thead>
            <tbody id="team-table-data">
                <tr>
                    <td colspan="4" class="text-center">No data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create -->
<partial name="_ModalCreate" />

<!-- Modal Edit -->
<partial name="_ModalUpdate" />

<!-- Modal Delete -->
<partial name="_ModalDelete" />

@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/js/team.js" asp-append-version="true"></script>
}
