<div class="modal fade" id="bet-match-statistic-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="setBetMatchStatisticModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 1400px;">
        <div class="modal-content">
            <input type="hidden" id="statistic-user-bet-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="setBetMatchModalLabel">Bet match statistic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div>
                        <div class="col-md-12 mb-4">
                            <div class="d-flex justify-content-between">
                                <div id="match-round-statistic"></div>
                                <div id="match-datetime-statistic"></div>
                                <div id="match-status-statistic"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div width="80%">
                                        <canvas id="chart-statistic"></canvas>
                                    </div>
                                    <div id="not-bet-users-statistic" class="mt-4 no-team-bet-user-list"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-bet-user-list">
                                        <div id="bet-team1-statistic" class="mb-3">
                                            <span><img src="" style="max-width: 70px; max-height: 70px;" alter="img" id="bet-team1-img-statistic"></span>
                                            <span id="bet-team1-name-statistic" class="team-name"></span>
                                            <span id="bet-team1-odds-statistic" class="ms-3" title="Odds"></span>
                                            <span id="bet-team1-score-statistic" class="sm-score-item" title="Score">?</span>
                                        </div>
                                        <hr />
                                        <div id="bet-team1-users-statistic"></div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4">
                                    <div class="team-bet-user-list">
                                        <div id="bet-team2-statistic" class="mb-3">
                                            <span><img src="" style="max-width: 70px; max-height: 70px;" alter="img" id="bet-team2-img-statistic"></span>
                                            <span id="bet-team2-name-statistic" class="team-name"></span>
                                            <span id="bet-team2-odds-statistic" class="ms-3" title="Odds"></span>
                                            <span id="bet-team2-score-statistic" class="sm-score-item" title="Score">?</span>
                                        </div>
                                        <hr />
                                        <div id="bet-team2-users-statistic"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>