<div class="modal fade" id="update-status-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateStatusUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="update-status-user-id" value="" />
            <input type="hidden" id="new-user-status" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="updateStatusUserModalLabel">Update user status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    Are you sure you want to <strong id="status-update-span"></strong> this user?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="submitUpdateUserStatus()">Update</button>
            </div>
        </div>
    </div>
</div>