@{
    ViewData["Title"] = "User Bet Page";
}

@section Style {
    <link rel="stylesheet" href="~/css/user-bet.css" asp-append-version="true"></link>
}

<div>
    <h1>User Bet List</h1>
    <div class="row mb-3 mt-3">
        <div class="col-auto text-right">
            <select class="form-select" aria-label="Match Status" id="match-status-filter" onchange="getUserBetList()">
                <option value="">All Status</option>
                <option value="1" selected>Opening</option>
                <option value="2">Closed</option>
                <option value="0">Not allowed to bet</option>
            </select>
        </div>
    </div>
    <div>
        <div id="user-bet-data"></div>
    </div>
</div>

<!-- Modal Bet -->
<partial name="_ModalBet" />

<!-- Modal Bet Detail -->
<partial name="_ModalBetDetail" />

@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/js/user-bet.js" asp-append-version="true"></script>
}
