<div class="modal fade" id="set-odds-match-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="setOddsMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="set-odds-match-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="setOddsMatchModalLabel">Set odds match</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="odds" class="form-label">Upper door team</label>
                    <div>
                        <div class="form-check form-check-inline odds-team unchecked-odds-team">
                            <input class="form-check-input" type="radio" name="upperDoorTeam" id="upper-door-team1" value="">
                            <label class="form-check-label" for="upper-door-team1" id="odds-team1-label">Team 1</label>
                        </div>
                        <div class="form-check form-check-inline odds-team unchecked-odds-team">
                            <input class="form-check-input" type="radio" name="upperDoorTeam" id="upper-door-team2" value="">
                            <label class="form-check-label" for="upper-door-team2" id="odds-team2-label">Team 2</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="odds" class="form-label">Odds</label>
                    <input type="number" class="form-control" min="0" id="odds" placeholder="" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitSetOddsMatch()">Update</button>
            </div>
        </div>
    </div>
</div>