<div class="modal fade" id="open-lock-bet-match-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="OpenLockBetMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="open-lock-bet-match-id" value="" />
            <input type="hidden" id="open-lock-bet-is-locked" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="OpenLockBetMatchModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    Are you sure you want to <strong id="open-lock-bet-confirm"></strong> this match bet?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitOpenLockBet()">Update</button>
            </div>
        </div>
    </div>
</div>