<div class="modal fade" id="update-score-match-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateScoreMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="update-score-match-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="updateScoreMatchModalLabel">Update match score</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row score-team">
                    <label for="score-team1" class="col-md-9 col-form-label">
                        <span><img class="me-2" src="" alt="team-img" id="score-team1-img" style="max-width: 50px; max-height: 50px;" /></span>
                        <span id="score-team1-name">Team 1</span>
                    </label>
                    <div class="col-md-3">
                        <input type="number" min="0" max="20" class="form-control mt-3" id="score-team1">
                    </div>
                </div>
                <div class="mb-3 row score-team">
                    <label for="score-team2" class="col-md-9 col-form-label">
                        <span><img class="me-2" src="" alt="team-img" id="score-team2-img" style="max-width: 50px; max-height: 50px;" /></span>
                        <span id="score-team2-name">Team 2</span>
                    </label>
                    <div class="col-md-3">
                        <input type="number" min="0" max="20" class="form-control mt-3" id="score-team2">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitUpdateScoreMatch()">Update</button>
            </div>
        </div>
    </div>
</div>