@{
    ViewData["Title"] = "Match Page";
}

@section Style {
    <link rel="stylesheet" href="~/css/match.css" asp-append-version="true"></link>
}

<div>
    <h1>Matchs List</h1>
    <div class="row mb-3 mt-5">
        <div class="col-auto text-right">
            <button type="button" class="btn btn-success" onclick="showCreateModal()">
                <i class="bi bi-plus-lg"></i> Create New Match
            </button>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Round</th>
                    <th scope="col">Team 1</th>
                    <th scope="col">Team 2</th>
                    <th scope="col">Status</th>
                    <th scope="col">Open Bet</th>
                    <th scope="col">Score</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="match-table-data">
                <tr>
                    <td colspan="8" class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create -->
<partial name="_ModalCreate" />

<!-- Modal Edit -->
<partial name="_ModalUpdate" />

<!-- Modal Delete -->
<partial name="_ModalDelete" />

<!-- Modal Set Odds -->
<partial name="_ModalSetOdds" />

<!-- Modal Update Status -->
<partial name="_ModalUpdateStatus" />

<!-- Modal Update Score -->
<partial name="_ModalUpdateScore" />

<!-- Modal Open/Lock Bet -->
<partial name="_ModalOpenLockBet" />


@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/js/match.js" asp-append-version="true"></script>
}
