.match-area {
    margin: 10px 0px;
    padding: 10px;
    background: #d6d8d9;
    border-radius: 10px;
    text-align: center;
}

.checked-bet-team {
    background: aquamarine;
}

.unchecked-bet-team {
    background: #dddddd;
}

.win-bet-team {
    background: aquamarine;
}

.lose-bet-team {
    background: #fd9fa1;
}

.bet-team {
    border-radius: 10px;
}

.bet-team > label {
    margin: 15px;
}

.bet-team > label > img {
    margin-right: 10px;
}

.bet-team > input {
    margin-top: 31px;
    margin-left: 0px !important;
}