<div class="modal fade" id="edit-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <input type="hidden" id="update-user-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Update user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name-edit" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-edit" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="phone-edit" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone-edit" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="email-edit" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email-edit" placeholder="name@example.com">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitUpdateUser()">Update</button>
            </div>
        </div>
    </div>
</div>