@{
    ViewData["Title"] = "User Page";
}

<div>
    <h1>Users List</h1>
    <div class="row mb-3 mt-5">
        <div class="col-auto text-right">
            <button type="button" class="btn btn-success" onclick="showCreateModal()">
                <i class="bi bi-plus-lg"></i> Create New User
            </button>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="user-table-data">
                <tr>
                    <td colspan="6"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create -->
<div class="modal fade" id="create-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Add user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select class="form-select" aria-label="selectRole" id="role">
                        <option value="1" selected>Normal user</option>
                        <option value="0">Admin</option>
                    </select>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="status">
                        <label class="form-check-label" for="status">Active</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitCreateUser()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="edit-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <input type="hidden" id="update-user-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Update user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name-edit" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-edit" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="phone-edit" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone-edit" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="email-edit" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email-edit" placeholder="name@example.com">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitUpdateUser()">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="delete-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="delete-user-id" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    Are you sure you want to delete this user?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="submitDeleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update Status -->
<div class="modal fade" id="update-status-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateStatusUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="update-status-user-id" value="" />
            <input type="hidden" id="new-user-status" value="" />
            <div class="modal-header">
                <h5 class="modal-title" id="updateStatusUserModalLabel">Update user status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    Are you sure you want to <strong id="status-update-span"></strong> this user?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="submitUpdateUserStatus()">Update</button>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script>
        $(document).ready(function () {
            getUserList();
        });

        var token = $('input[name="__RequestVerificationToken"]').val();

        function getUserList() {
            $.ajax({
                type: "GET",
                url: '/User/GetUserListAjax',
                contentType: 'application/json',
                headers: {
                    'RequestVerificationToken': token, // Thêm token vào header
                },
                success: function (response) {
                    if (response.status == 0) {
                        toastr.error('Error', response.message);
                        return;
                    }

                    let tableHtml = '';
                    let userData = response.data;
                    if (userData.length > 0) {
                        $.each(userData, function (index, user) {
                            tableHtml += '<tr>';
                            tableHtml += '<td>' + user.fullName + '</td>';
                            tableHtml += '<td>' + user.phone + '</td>';
                            tableHtml += '<td>' + user.email + '</td>';
                            tableHtml += '<td>' + getRoleLabel(user.role) + '</td>';
                            tableHtml += '<td>' + getStatusLabel(user.status) + '</td>';

                            let editBtnHtml = '<button type="button" class="btn btn-primary m-1" onClick="showEditModal(\'' + user.id + '\')"><i class="bi bi-pencil-fill"></i> Edit</button>';
                            let deleteBtnHtml = '<button type="button" class="btn btn-danger" onClick="showDeleteModal(\'' + user.id + '\')"><i class="bi bi-trash-fill"></i> Delete</button>';
                            let updateStatusBtnHtml = '';
                            if (user.status == 0) {
                                updateStatusBtnHtml = '<button type="button" class="btn btn-success m-1" onClick="showUpdateStatusModal(\'' + user.id + '\', ' + user.status + ')"><i class="bi bi-check-circle"></i> Active</button>';
                            }
                            else {
                                updateStatusBtnHtml = '<button type="button" class="btn btn-warning m-1" onClick="showUpdateStatusModal(\'' + user.id + '\', ' + user.status + ')"><i class="bi bi-dash-circle"></i> De-Active</button>';
                            }

                            tableHtml += '<td>' + updateStatusBtnHtml + editBtnHtml + deleteBtnHtml + '</td>';
                            tableHtml += '</tr>';
                        });
                    }
                    else {
                        tableHtml = '<tr><td colspan="6">No data</td></tr>';
                    }

                    $('#user-table-data').html(tableHtml);
                },
                error: function (error) {
                    toastr.error('Error', error)
                }
            });
        }

        function getStatusLabel(status) {
            if (status == 1) {
                return '<span class="badge bg-success">Active</span>';
            }
            return '<span class="badge bg-danger">Inactive</span>';
        }

        function getRoleLabel(role) {
            if (role == 1) {
                return '<span class="badge rounded-pill bg-success">Normal user</span>';
            }
            return '<span class="badge rounded-pill bg-primary">Admin</span>';
        }

        function showCreateModal() {
            $('#create-user-modal').modal('show');
        }

        function submitCreateUser() {
            var data = {
                FullName: $('#name').val(),
                Phone: $('#phone').val(),
                Email: $('#email').val(),
                Role: $('#role').val(),
                Status: $('#status').is(':checked') ? 1 : 0
            };

            $.ajax({
                url: '/User/CreateUserAjax',
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                headers: {
                    'RequestVerificationToken': token
                },                
                success: function (response) {
                    if (response.status == 0) {
                        toastr.error('Error', response.message);
                        return;
                    }

                    toastr.success('Success', response.message);
                    getUserList();
                    $('#create-user-modal').modal('hide');
                },
                error: function (error) {
                    toastr.error('Error', error)
                }
            });
        }

        function showEditModal(id) {
            $.ajax({
                type: "GET",
                url: '/User/GetUserInfoAjax/' + id,
                contentType: 'application/json',
                headers: {
                    'RequestVerificationToken': token
                },
                success: function (response) {
                    if (response.status == 0) {
                        toastr.error('Error', response.message);
                        return;
                    }

                    let userInfo = response.data;
                    $('#update-user-id').val(id);
                    $('#name-edit').val(userInfo.fullName);
                    $('#phone-edit').val(userInfo.phone);
                    $('#email-edit').val(userInfo.email);
                    $('#edit-user-modal').modal('show');
                },
                error: function (error) {
                    $('#update-user-id').val('');
                    toastr.error('Error', error)
                }
            });
        }

        function submitUpdateUser() {
            var data = {
                Id: $('#update-user-id').val(),
                FullName: $('#name-edit').val(),
                Phone: $('#phone-edit').val(),
                Email: $('#email-edit').val()
            };

            $.ajax({
                url: '/User/UpdateUserAjax',
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                headers: {
                    'RequestVerificationToken': token
                },
                success: function (response) {
                    if (response.status == 0) {
                        toastr.error('Error', response.message);
                        return;
                    }

                    toastr.success('Success', response.message);
                    getUserList();
                    $('#edit-user-modal').modal('hide');
                },
                error: function (error) {
                    toastr.error('Error', error)
                }
            });
        }

        function showDeleteModal(id) {
            $('#delete-user-id').val(id);
            $('#delete-user-modal').modal('show');
        }

        function submitDeleteUser() {
            $.ajax({
                url: '/User/DeleteUserAjax/' + $('#delete-user-id').val(),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                headers: {
                    'RequestVerificationToken': token
                },
                success: function (response) {
                    if (response.status == 0) {
                        toastr.error('Error', response.message);
                        return;
                    }

                    toastr.success('Success', response.message);
                    getUserList();
                    $('#delete-user-modal').modal('hide');
                },
                error: function (error) {
                    toastr.error('Error', error)
                }
            });
        }

        function showUpdateStatusModal(id, currentStatus) {
            $('#update-status-user-id').val(id);
            $('#new-user-status').val(currentStatus == 0 ? 1 : 0);
            if (currentStatus == 0) {
                $('#status-update-span').html('<span class="text-success">ACTIVE</span>');
            }
            else {
                $('#status-update-span').html('<span class="text-danger">DE-ACTIVE</span>');
            }
            $('#update-status-user-modal').modal('show');
        }

        function submitUpdateUserStatus() {
            var data = {
                Id: $('#update-status-user-id').val(),
                Status: $('#new-user-status').val()
            };

            $.ajax({
                url: '/User/UpdateUserStatusAjax',
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                headers: {
                    'RequestVerificationToken': token
                },
                success: function (response) {
                    if (response.status == 0) {
                        toastr.error('Error', response.message);
                        return;
                    }

                    toastr.success('Success', response.message);
                    getUserList();
                    $('#update-status-user-modal').modal('hide');
                },
                error: function (error) {
                    toastr.error('Error', error)
                }
            });
        }
    </script>
}
