@{
    ViewData["Title"] = "User Page";
}

<div>
    <h1>Users List</h1>
    <div class="row mb-3 mt-5">
        <div class="col-auto text-right">
            <button type="button" class="btn btn-success" onclick="showCreateModal()">
                <i class="bi bi-plus-lg"></i> Create New User
            </button>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="user-table-data">
                <tr>
                    <td colspan="6" class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create -->
<partial name="_ModalCreate" />

<!-- Modal Edit -->
<partial name="_ModalUpdate" />

<!-- Modal Delete -->
<partial name="_ModalDelete" />

<!-- Modal Update Status -->
<partial name="_ModalUpdateStatus" />

@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/js/user.js" asp-append-version="true"></script>
}
